$redAccent: #ff4e36;
$whiteDark: #f6f6f6;

[data-gu-name="body"] {
  position: absolute;
  top: -26px;
  left: 0;
  right: 0;

  &:before {
    display: block;
    content: '';
    top: 13px;
    background: rgba(0,0,0,0.5);
    height: 100%;
    opacity: var(--opacity, 1);
    transition: opacity 1s ease;
    position: absolute;
    z-index: 9;
    left: 50%;
		right: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;

    // @include mq(mobile) {
    //   left: 0;
    //   right: 0;
    // }

    // @include mq(tablet) {
    //   // left: -20%;
    //   // right: -20%;
    // }
  }
}

[data-gu-name="headline"], [data-gu-name="standfirst"], [data-gu-name="media"], [data-gu-name="meta"] {
  position: relative;
  z-index: 10;
  
  @include mq(desktop) {
    margin-left: 80px;
  }
}

[data-gu-name="border"] {
  display: none;
}

[data-gu-name="lines"] {
  display: none;
}

[name="SubNav"] {
  display: none;
}

.content__headline, .content__standfirst {
  color: $whiteDark !important;
}

.content__headline {
  font-size: 36px !important;

  @include mq(desktop) {
    margin-top: 0;
  }

  @include mq(tablet) {

  }

  @include mq(leftCol) {
    margin-top: 160px;
  }
}

.content__standfirst {
  font-size: 18px !important;
  font-weight: 400 !important;
}

.meta__social {
  padding-bottom: 100px;
  border-top: 0 !important;

  span {
    fill: $redAccent;
    &:hover {
      fill: $whiteDark;
      background-color: $redAccent;
      border-color: $redAccent;
    }
  }
}

.meta__comment {
  border-top: 0 !important;
}

.element-immersive {
  border-top: 1px solid #506991;
}

label[for="dateToggle"] {
  color: #dcdcdc !important;
}

.byline {
  color: $redAccent !important;

  a {
    color: $redAccent !important;
  }
}

.content__labels {
  @include mq(mobile) {
    margin-top: 20px;
  }

  @include mq(tablet) {
    margin-top: 56px;
  }

  @include mq(desktop) {
    margin-left: 80px;
    margin-top: 132px;
  }

  @include mq(leftCol) {
    margin-left: 242px;
    margin-top: 132px;
  }

  @include mq(wide) {
    margin-left: 320px;
    margin-top: 128px;
  }
  position: relative;
  z-index: 10;
  width: 200px;
}

.content__label__link {
  color: $redAccent !important;
}


.ios, .android {
  .article__body {
    padding: 0 !important;
    &:before {
      display: block;
      content: '';
      top: 0px;
      background: rgba(0,0,0,0.5);
      height: 100%;
      opacity: var(--opacity, 1);
      transition: opacity 1s ease;
      position: absolute;
      z-index: 9;
      left: 0;
      right: 0;
    }
  }


  .article__header {
    margin-top: 44px !important;
    position: absolute !important;
    z-index: 10 !important;
    background: none !important;

    .headline {
      font-size: 36px !important;
      color: $whiteDark !important;
      line-height: 41.4px !important;
    }

    .standfirst {
      color: $whiteDark !important;
      font-size: 18px !important;
      font-weight: 400 !important;
      line-height: 20px !important;
    }

    .byline__author {
      font-weight: 700 !important;
      font-size: 17px !important;
    }

    .meta__published__date {
      color:#999999 !important;
    }
  }

  .keyline-4:before {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .ios, .android {
    .article__body {
      padding: 0 !important;
      &:before {
        display: block;
        content: '';
        top: 0px;
        background: rgba(0,0,0,0.5);
        height: 100%;
        opacity: var(--opacity, 1);
        transition: opacity 1s ease;
        position: absolute;
        z-index: 9;
        left: 0;
        right: 0;
      }
    }


    .article__header {
      margin-top: 44px !important;
      position: absolute !important;
      z-index: 10 !important;
      background: none !important;

      .headline {
        font-size: 36px !important;
        color: $whiteDark !important;
        line-height: 41.4px !important;
        background: none !important;
      }

      .article-kicker {
        background: none !important;
      }

      .standfirst {
        color: $whiteDark !important;
        font-size: 18px !important;
        font-weight: 400 !important;
        line-height: 20px !important;
        background: none !important;
      }

      .standfirst__inner {
        background: none !important;
      }

      .byline__author {
        font-weight: 700 !important;
        font-size: 17px !important;
      }

      .meta__published__date {
        color:#999999 !important;
      }
    }

    .keyline-4:before {
      display: none;
    }
    .keyline-4 {
      background: none !important;
    }
  }
}