@import "$lib/styles/fonts.scss";
@import "$lib/styles/palette.scss";
@import "$lib/styles/mq.scss";
//@import "$lib/styles/defaults.scss";
// @import "./layout.scss";
@import "./full_immersive_enhancer.scss";
// @import "./no_header.scss";
@import "./header.scss";
@import "$lib/styles/scrolly.scss";
// @import "$lib/styles/enhanced_fonts.scss"; // when you need special font features such as lining figures

#gv-wrapper{
    width: 100vw;
    height: auto;
    overflow: hidden;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

#svg-wrapper{
    min-height: 100vh;
}

.maplibregl-desktop-message, .maplibregl-mobile-message {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.maplibregl-mobile-message {
    font-size: 20px;
    text-align: center;
}

.mapboxgl-canvas-container.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-drag-pan .mapboxgl-canvas,
.maplibregl-canvas-container.maplibregl-touch-drag-pan,
.maplibregl-canvas-container.maplibregl-touch-drag-pan .maplibregl-canvas {
    touch-action: pan-x pan-y!important;
}

.locator-base-map{
    fill:#fff;
}

.locator-svg {
    opacity: 0;
}

#svg-wrapper path{
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
}


#scrolly-1 {
    @include mq(tablet) {
        // margin-left: -30px;
    }
}

.maplibregl-ctrl.maplibregl-ctrl-group {
    border-radius: 100px !important;
    margin-top: 20px !important;
    margin-left: 20px !important;
    opacity: 0;
}


.gv-loader-wrapper {
    width: 100%;
    height: 8px;
    position: fixed;
    z-index: 9999;
    background: rgba(0,0,0,0.5);
    bottom: 0;
    left: 0;
    transition: opacity 0.75s ease-in-out;
}

.gv-loader {
    height: 100%;
    width: 0%;
    background-color: #f6f6f6;
    opacity: 0.3;
    transition: width 0.5s ease-in-out;
}

.gv-load-prompt {
    width: 100%;
    position: fixed;
    z-index: 9999;
    bottom: 16px;
    left: 0;
    color: #b3b3b4;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    text-align: center;
    @include fs-headline(3);
    font-weight: bold;
}

.gv-scrollarrow {
    width: 100%;
    position: fixed;
    z-index: 9990;
    bottom: 24px;
    left: 0;
    text-align: center;
    opacity: 0;
    will-change: opacity;
    img {
        z-index: 9999;
        position: relative;
        border: 1px solid #b3b3b3;
        border-radius: 51000px;
        width: 40px;
        height: 40px;
        padding: 5px 8px 0px 8px;
        animation: down 1.5s infinite;
        opacity: 1;
    }
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(8px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(8px);
	}
	40% {
		transform: translate(0);
	}
}
//prevent initial scroll
body {
   height: 100%;
   overflow-y: hidden;
}